<div class="homepage">

	<!-- Logo -->
	<%= image_tag "confablogo.png", id: "logo" %>
	<h2>Coming soon...</h2>
	
	<h2>Enrich your knowledge through conversation</h2>

	<div class="mailchimp-signup">
		<p>Be the first to know</p>
		<%= render "partials/mailchimp" %> 
	</div>
</div>
