// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

// h1 {
//   padding-top: 75px;
// }

h1, h2 {
  color: #4F4F4F;
  margin: 50px;
  position: relative;
  font-size: 40px;
  @media screen and (max-width: 500px) {
    font-size: 32px;
  }
}

#logo {
  height: 72px;
  align-self: center;
  position: relative;
  @media screen and (max-width: 500px) {
    height: 56px;
  }
}

.homepage {
  background: image-url('confab.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;


  &:before {
    content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#C4C4C4,#E0E0E0);
  opacity: .6;
  }
  }
